*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 24px;
  background-color: aquamarine;
}

.header-title {
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 15px;
}

.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.search-bar {
  width: 750px;
  height: 50px;
  font-size: 32px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ed563c
}


.submit-btn {
  float: left;
  margin: 24px 0;
  color: white;
  background: #1b326e;
  padding: 15px 24px;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  letter-spacing: 2px;
}


.representative-info {
  margin: 40px 0px;
}

.office-title {
  font-weight: bold;
  text-transform: uppercase;

}

.info-title {
  font-weight: bold;
}

ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-start;
}
.menu-item a{
  color: blue;
  font-size: 26px;
  margin-right: 24px;
  text-decoration: none;
  cursor: pointer;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.form-label {
  font-size: 20px;
  margin: 16px;
  float: right;
}

.form-input{
  height: 40px;
  width: 250px;
  font-size: 27px;
  margin: 16px;
}